{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <h1 class="cover-heading">Software Engineering - Data Science</h1> -->
<div style="height: 50px;"></div>
    <img src="../static/profile_tall.jpg" class="img-fluid" />

    <p class="lead">
      Hello everyone, welcome to my home page. My name is Tu Tong. I'm a student at Becker College majoring in computer science - data science. I'm currently a full stack software developer at Avatar Computing.
      Below is one of Supervised Learning that utilized k-Nearest Neighbors to predict the label of a new data point.
    </p>

    <script>
        $(function() {
            $("nav-link").removeClass("active");

        });

    </script>

{% endblock %}
