{% extends "base.html" %}
{% load static %}
{% csrf_token %}

{% block content %}

<!-- <h1 class="cover-heading">Software Engineering - Data Science</h1> -->
<div style="height: 50px;"></div>
    <p class="lead">
      Hello everyone, welcome to my home page. My name is Tu Tong. I'm a student at Becker College majoring in computer science - data science. I'm currently a full stack software developer at Avatar Computing.
      Below is one of Supervised Learning that utilized k-Nearest Neighbors to predict the label of a new data point.
    </p>
    
    
    <p><img src="/breast_cancer_fig" alt="Image Placeholder"></p>
    <p class="lead">
      <a href="https://scikit-learn.org" class="btn btn-lg btn-secondary">Learn more</a>
      
    </p>

    <h6>
      This is a copy of UCI ML Breast Cancer Wisconsin (Diagnostic) datasets. https://goo.gl/U2Uwz2

Features are computed from a digitized image of a fine needle aspirate (FNA) of a breast mass. They describe characteristics of the cell nuclei present in the image.

Separating plane described above was obtained using Multisurface Method-Tree (MSM-T) [K. P. Bennett, “Decision Tree Construction Via Linear Programming.” Proceedings of the 4th Midwest Artificial Intelligence and Cognitive Science Society, pp. 97-101, 1992], a classification method which uses linear programming to construct a decision tree. Relevant features were selected using an exhaustive search in the space of 1-4 features and 1-3 separating planes.

The actual linear program used to obtain the separating plane in the 3-dimensional space is that described in: [K. P. Bennett and O. L. Mangasarian: “Robust Linear Programming Discrimination of Two Linearly Inseparable Sets”, Optimization Methods and Software 1, 1992, 23-34].
    </h6>

{% endblock %}
