{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <h1 class="cover-heading">Software Engineering - Data Science</h1> -->
<div style="height: 50px;"></div>
    <img src="../static/profile_face_square.jpg" class="img-fluid rounded-circle" width="180px" />
    <p>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="./about.html">About</a>
      <a class="nav-link" href="#">Contact</a>
    </nav>
  </p>
{% endblock %}
